body {
  /* Base style */
  font-size: 20px;
  line-height: 1.5;

  margin: auto;

  background-color: hsl(187, 90%, 91%);
}

article {
  /* Card Container */
  max-width: 27ch;
  margin: 2em auto;
  border: 2px groove red;

  background-color: hsl(180, 70%, 95%);

  font-family: 'Reem Kufi', 'Trebuchet MS', cursive;
}

article p {
  /* Card Paragrapgh Font */
  font-family: 'Roboto', 'Arial', sans-serif;
}

article a {
  /* Card Content Style */
  display: block;

  padding: 1em;
  margin: auto;

  text-align: center;
  text-decoration: none;
  color: rgb(220, 0, 0);
}

article:hover {
  /* Card Hover State */
  box-shadow: 10px 5px 5px red;
  transition: all 200ms ease-out;
}

img {
  /* Image Style */
  margin: auto;

  clip-path: circle(40%);
  object-fit: cover;
}

@media only screen and (max-width: 590px) {
/* Media Quaries */
  body {
    margin: 1.5rem;
  }
}